version: "3.8"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  auth-service:
    build:
      context: .
      dockerfile: ./services/auth-service/Dockerfile
    env_file:
      - ./services/auth-service/.env
    depends_on:
      - redis
    command: npm run start
    ports:
      - "4000:4000"

  user-service:
    build:
      context: .
      dockerfile: ./services/user-service/Dockerfile
    env_file:
      - ./services/user-service/.env
    depends_on:
      - redis
    command: npm run start
    ports:
      - "4100:4100"

  gateway:
    build:
      context: .
      dockerfile: ./services/gateway/Dockerfile
    env_file:
      - ./services/gateway/.env
    depends_on:
      - auth-service
      - user-service
    command: npm run start
    ports:
      - "3000:3000"
